#loginheading{
    position: absolute;
    font-size: 30px;
    width: 50%;
    background-color:  rgb(240, 239, 239);
    height: 10%;
    top: 0%;
    left: 0%;
  }
  #userName,#passWord{
    position: absolute;
    top:120px;
    padding: 3px 20px;
    border-radius: 10px;
    border: 1px solid rgb(214, 214, 214);
    font-size: 25px;
    left: 70px;
    width: 420px;
  }
  #passWord{
    top:200px;
  }
  #rememberMe{
    position: absolute;
    top:270px;
    left: 75px;
    width: 20px;
    height: 20px;
  }
  #rememberMetext{
    position: absolute;
    top:267px;
    left: 105px;
    font-size: 18px;
  }
  #loginButton{
    position: absolute; 
    top:320px;
    width: 80%;
    left: 10%;
    height: 40px;
    border-radius:30px;
    border: 2px solid rgb(214, 214, 214);
  }
  #loginsingup{
    padding-bottom: 30px;
    border-bottom: solid 1px rgb(214, 214, 214);
  }