#navBar{
    position: fixed;
    top:0px;
    left: 0px;
    width: 100%;
    z-index: 100;
    height: 90px;
    background-color:rgb(10, 8, 8);
  }
#searchBar{
  position: fixed;
  top:25px;
  width: 33%;
  height:45px;
  left: 46%;
}

#searchBarInput{
    border-radius: 20px;
    width: 100%;
    height: 100%;
    padding:3px 15px;
    background-color:rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(218, 202, 202, 0.3);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  }

.navOptions{
font-family: 'Times New Roman', Times, serif;
font-size: 30px;
}
#home_ico{
    position: absolute;
    width: 20%;
    top: -55px;
    left:0px;
    
}
#Games:hover{
    border-bottom: 2px solid white;
    border-radius: 3px;
  }
#Games{
  position: absolute;
  left:19%;
  top:20px;
}
#Community:hover{
  border-bottom: 2px solid white;
  border-radius: 3px;
}
#Community{
  position: absolute;
  left:26%;
  top:20px;
}
#About:hover{
  border-bottom: 2px solid white;
  border-radius: 3px;
}
#About{
  position: absolute;
  left:36%;
  top:20px;
}
